extends layout

block content
  h1= title

  p 
    if accessory.numberInStock > 0
      | #[strong #{accessory.numberInStock}] currently in stock
    else
      | Currently out of stock
    |  - #[strong $#{accessory.price}]

  hr
  p #{accessory.summary}
  hr

  p #[strong Compatible Platforms]
  each platform in accessory.compatiblePlatforms
    li
      a(href=platform.url) #{platform.name}

  hr
  a(href=accessory._id + '/delete') Delete Accessory
