extends layout

block content
  h1= title

  hr
  each game in developerGames
    li
      a(href=game.url) #{game.title}
      p #{game.summary}

  if developerGames.length > 0
    hr
  a(href=developer._id + '/delete') Delete Developer
