extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Game:
      input#name.form-control(type='text' placeholder='Headset, Controller, etc.' name='title' value=(undefined===game ? '' : game.title))
    div.form-group
      label(for='price') Price: 
      input#price.form-control(type='number' placeholder='$100, $200, etc.' name='price' value=(undefined===game ? '' : game.price))
    div.form-group
      label(for='numberInStock') In Stock: 
      input#numberInStock.form-control(type='number' placeholder='5, 10, etc.' name='numberInStock' value=(undefined===game ? '' : game.numberInStock))
    div.form-group
      label(for='summary') Summary: 
      input#summary.form-control(type='textarea' placeholder='Summary goes here' name='summary' value=(undefined===game ? '' : game.summary))
    div.form-group
      label Developers: 
      div
        for developer in allDevelopers
          div(style='display: inline; padding-right: 10px;')
            input.checkbox-input(type='checkbox' name='developer' id=developer._id value=developer._id checked=developer.checked)
            label(for=developer._id) #{developer.name}
    div.form-group
      label Genres:
      div
        for genre in allGenres
          div(style='display: inline; padding-right: 10px;')
            input.checkbox-input(type='checkbox' name='genre' id=genre._id value=genre._id checked=genre.checked)
            label(for=genre._id) #{genre.name}
    div.form-group
      label Platforms:
      div
        for platform in allPlatforms
          div(style='display: inline; padding-right: 10px;')
            input.checkbox-input(type='checkbox' name='platform' id=platform._id value=platform._id checked=platform.checked)
            label(for=platform._id) #{platform.name}
    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
