extends layout

block content
  h1= title

  hr
  each game in genreGames
    li
      a(href=game.url) #{game.title}
      p #{game.summary}

  if genreGames.length > 0
    hr
  a(href=genre._id + '/delete') Delete Genre
