extends layout

block content
  h1= title

  p 
    if merchandise.numberInStock > 0
      | #[strong #{merchandise.numberInStock}] currently in stock
    else
      | Currently out of stock
    |  - #[strong $#{merchandise.price}]

  hr
  p #{merchandise.summary}
  hr

  p #[strong Related Games]
  each game in merchandise.relatedGames
    li
      a(href=game.url) #{game.title}

  hr
  a(href=merchandise._id + '/delete') Delete Merchandise
