extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Game:
      input#name.form-control(type='text' placeholder='T-Shirt, Statue, etc.' name='name' value=(undefined===merchandise ? '' : merchandise.name))
    div.form-group
      label(for='price') Price: 
      input#price.form-control(type='number' placeholder='$100, $200, etc.' name='price' value=(undefined===merchandise ? '' : merchandise.price))
    div.form-group
      label(for='numberInStock') In Stock: 
      input#numberInStock.form-control(type='number' placeholder='5, 10, etc.' name='numberInStock' value=(undefined===merchandise ? '' : merchandise.numberInStock))
    div.form-group
      label(for='summary') Summary: 
      input#summary.form-control(type='textarea' placeholder='Summary goes here' name='summary' value=(undefined===merchandise ? '' : merchandise.summary))
    div.form-group
      label Related Games: 
      div(style='display: flex; flex-wrap: wrap;')
        for game in allGames
          div(style='display: inline; padding-right: 10px;')
            input.checkbox-input(type='checkbox' name='relatedGames' id=game._id value=game._id checked=game.checked)
            label(for=game._id) #{game.title}
    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg
